html, body {
    font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: white;
    background: black;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}
#sideMenu li 
label {
    width: 50px;
}

.pageTitle {
    font-size: 25px;
    font-weight: bold;
    padding: 20px 20px 0px 20px;
    text-transform: uppercase;
}

#layout_center {
    float: left;
}

#layout_left {
    float: left;
    background-color: #35363a;
    width: 270px;
    position: relative;
}

#layout_center, #layout_left {
}

#detailContent {
    overflow: auto;
    padding: 10px 20px 20px 20px;
}
/* side menu */
#sideMenu {
    margin: 0;
    padding: 0;
}

    #sideMenu li {
        font-size: 14px;
        cursor: pointer;
        list-style: none;
        line-height: 30px;
        color: black;
    }
    #sideMenu > li.active {
border-left: 4px solid #d12610;
}

        #sideMenu li.active {
            font-size: 14px;
            cursor: pointer;
            list-style: none;
        }

    #sideMenu li.selected {
        background: silver;
    }
        #sideMenu li.option-title {
            text-align: center;
            margin-bottom: 20px;
            font-weight: bold;
        }

        
#sideMenu  {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0; 
}

#sideMenu  > li {
  display: block;
  margin: 0;
  padding: 0; 
  border: 0px;
}

#sideMenu  > li.start > a {
   border-top-color: transparent !important;
}

#sideMenu  > li:last-child > a,
#sideMenu  > li.last > a {
   border-bottom-color: transparent !important;
}

#sideMenu  > li > a {
  display: block;
  position: relative;
  margin: 0;
  border: 0px;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  background: html, body {    font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;    font-size: 12px;    color: white;    background: black;    padding: 0;    margin: 0;}h1 {    font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;    font-size: 14px;    font-weight: bold;}label {    width: 50px;}.pageTitle {    font-size: 25px;    font-weight: bold;    padding: 20px 20px 0px 20px;    text-transform: uppercase;}#layout_center {    float: left;}#layout_left {    float: left;    background-color: #35363a;    width: 270px;    position: relative;}#layout_center, #layout_left {}#detailContent {    overflow: auto;    padding: 10px 20px 20px 20px;}/* side menu */#sideMenu {    margin: 0;    padding: 0;}    #sideMenu li {        font-size: 14px;        cursor: pointer;        list-style: none;        line-height: 30px;        color: black;    }    #sideMenu > li.active {border-left: 4px solid #d12610;}        #sideMenu li.active {            font-size: 14px;            cursor: pointer;            list-style: none;        }        #sideMenu li.option-title {            text-align: center;            margin-bottom: 20px;            font-weight: bold;        }        #sideMenu  {  list-style: none;  margin: 0;  padding: 0;  margin: 0;  padding: 0; }#sideMenu  > li {  display: block;  margin: 0;  padding: 0;   border: 0px;}#sideMenu  > li.start > a {   border-top-color: transparent !important;}#sideMenu  > li:last-child > a,#sideMenu  > li.last > a {   border-bottom-color: transparent !important;}#sideMenu  > li > a {  display: block;  position: relative;  margin: 0;  border: 0px;  padding: 10px 15px;  text-decoration: none;  font-size: 14px;  font-weight: 300;  background: #222225 !important;  border-top: 1px solid #414247;  border-bottom: 1px solid #292a2d;  color: #ffffff;}.page-sidebar-fixed #sideMenu  > li > a {  -webkit-transition: all 0.2s ease;     -moz-transition: all 0.2s ease;       -o-transition: all 0.2s ease;          transition: all 0.2s ease;}#sideMenu  > li > a i {  font-size: 16px;  margin-right: 5px;  text-shadow:none; }#sideMenu  > li.break {  margin-bottom: 20px;}#sideMenu  > li.active > a {  border: none;   text-shadow:none;  font-weight: bold;  background: #222225 !important;}  #sideMenu  > li.active  {  border-left: 4px solid #d12610;}.page-sidebar ul > li > a > .arrow:before {     float: right;   margin-top: 0px;   margin-right: 5px;   display: inline;   font-size: 16px;   font-family: FontAwesome;   height: auto;   content: "\f104";   font-weight: 300;   text-shadow:none;}.page-sidebar ul > li.active > a > .arrow:before {  margin-right: 1px;}#sideMenu  > li > a > .arrow.open:before {      float: right;   margin-top: 0px;   margin-right: 3px;   display: inline;   font-family: FontAwesome;   height: auto;   font-size: 16px;   content: "\f107";   font-weight: 300;   text-shadow:none;}/* table .striped td{    min-width: 100px}*/.divDetail table {    width: 100%;    border-spacing: 0;    border-collapse: collapse;    overflow-y: auto;    margin-top: 0;}    .divDetail table thead {        background: black;            }    .divDetail table td {        border-top: 1px solid #4b4b4b;        border-left: 1px solid #4b4b4b;        padding: 0.8em 1.7em;        vertical-align: middle;         border-right: 1px solid #4b4b4b;    }    .divDetail table thead tr td {        border-left: 1px solid #4b4b4b;        color: #0095da;        padding: 10px;        text-align: left;        text-transform: uppercase;        min-width: 200px;    }    .divDetail table > tbody tr:nth-child(odd) {        background-color: #282828;    }    .divDetail table > tbody tr:hover {        cursor: pointer;        text-decoration: none;        background-color: gray;    }.divDetail table > tbody tr.selected {background-color: #0095DA;}/*.divDetail table thead tr th,    .divDetail table thead tr td {        display: table-cell;        vertical-align: bottom;        padding-bottom: 5px;        padding-top: 10px;        padding-left: 5px;        border-bottom: 1px #ddd solid;        border-right: 1px #ddd solid;        border-left: 1px transparent solid;        border-top: 1px transparent solid;        font-weight: 400;        font-size: 11pt;        letter-spacing: 0.01em;        line-height: 13pt;        font-smooth: always;        text-align: left;        color: #0095da;        font-weight: bold;    }        .divDetail table thead tr th.right,        .divDetail table thead tr td.right {            text-align: right;            padding-right: 10px;        }        .divDetail table thead tr th.last,        .divDetail table thead tr td.last {            border-right: 1px transparent solid;        }        .divDetail table thead tr th:last-child,        .divDetail table thead tr td:last-child {            border-right: 1px transparent solid;        }    .divDetail table tbody tr {        border: 1px #fff solid;    }        .divDetail table tbody tr td {            font-family: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;            font-weight: 300;            font-size: 11pt;            letter-spacing: 0.02em;            line-height: 14pt;            font-smooth: always;            padding: 3px 10px;            border-right: 1px #ddd solid;            border-bottom: 1px #ddd solid;            border-left: 1px transparent solid;            border-top: 1px transparent solid;            box-sizing: border-box;        }*/.divDetail-footer {    border-top: 1px solid white;}/* time card page */.employee-li {    border-bottom: 1px dotted;}    .employee-li.selected {        background-color: transparent;    }.costCentreDropdown, .departmentDropdown, .supervisorDropdown, .positionDropdown {    min-width: 100px;}select {      -webkit-appearance: none;    -moz-appearance: none;    appearance: none; }         .sidebar-toggler {-webkit-border-radius: 0px 4px 4px 0px;-moz-border-radius: 0px 4px 4px 0px;border-radius: 0px 4px 4px 0px;cursor: pointer;display: block;float: left;margin-top: 15px;margin-bottom: 15px;width: 23px;height: 23px;background-color: #FcFcFc;padding-bottom: 5px;background: black;color: white;        }            .sidebar-toggler:before {                margin: 0px 2px 3px 8px;                display: inline-block;                font-size: 18px;                font-family: FontAwesome;                height: auto;                content: "\f104";                font-weight: 300;                text-shadow: none;            }        .page-sidebar-closed .sidebar-toggler:before {            content: "\f105";            margin: 0px 2px 3px 10px;        } !important;
  border-top: 1px solid #414247;  border-bottom: 1px solid #292a2d;  color: #ffffff;
}

.page-sidebar-fixed #sideMenu  > li > a {
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

#sideMenu  > li > a i {
  font-size: 16px;
  margin-right: 5px;
  text-shadow:none; 
}

#sideMenu  > li.break {
  margin-bottom: 20px;
}

#sideMenu  > li.active > a {
  border: none; 
  text-shadow:none;
  font-weight: bold;
  background: #222225 !important;
}  

#sideMenu  > li.active  {
  border-left: 4px solid #d12610;
}

.page-sidebar ul > li > a > .arrow:before {  
   float: right;
   margin-top: 0px;
   margin-right: 5px;
   display: inline;
   font-size: 16px;
   font-family: FontAwesome;
   height: auto;
   content: "\f104";
   font-weight: 300;
   text-shadow:none;
}

.page-sidebar ul > li.active > a > .arrow:before {
  margin-right: 1px;
}

#sideMenu  > li > a > .arrow.open:before {   
   float: right;
   margin-top: 0px;
   margin-right: 3px;
   display: inline;
   font-family: FontAwesome;
   height: auto;
   font-size: 16px;
   content: "\f107";
   font-weight: 300;
   text-shadow:none;
}

/* table 
.striped td
{
    min-width: 100px
}*/


.divDetail table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    overflow-y: auto;
    margin-top: 0;
}

    .divDetail table thead {
        background: black;
        
    }


    .divDetail table td {
        border-top: 1px solid #4b4b4b;
        border-left: 1px solid #4b4b4b;

        padding: 0.8em 1.7em;
        vertical-align: middle;
         border-right: 1px solid #4b4b4b;
    }


    .divDetail table thead tr td {
        border-left: 1px solid #4b4b4b;
        color: #0095da;
        padding: 10px;
        text-align: left;
        text-transform: uppercase;
        min-width: 200px;
    }


    .divDetail table > tbody tr:nth-child(odd) {
        background-color: #282828;
    }

    .divDetail table > tbody tr:hover {
        cursor: pointer;
        text-decoration: none;
        background-color: gray;

    }

.divDetail table > tbody tr.selected {
background-color: #0095DA;
}

/*.divDetail table thead tr th,
    .divDetail table thead tr td {
        display: table-cell;
        vertical-align: bottom;
        padding-bottom: 5px;
        padding-top: 10px;
        padding-left: 5px;
        border-bottom: 1px #ddd solid;
        border-right: 1px #ddd solid;
        border-left: 1px transparent solid;
        border-top: 1px transparent solid;
        font-weight: 400;
        font-size: 11pt;
        letter-spacing: 0.01em;
        line-height: 13pt;
        font-smooth: always;
        text-align: left;
        color: #0095da;
        font-weight: bold;
    }

        .divDetail table thead tr th.right,
        .divDetail table thead tr td.right {
            text-align: right;
            padding-right: 10px;
        }

        .divDetail table thead tr th.last,
        .divDetail table thead tr td.last {
            border-right: 1px transparent solid;
        }

        .divDetail table thead tr th:last-child,
        .divDetail table thead tr td:last-child {
            border-right: 1px transparent solid;
        }

    .divDetail table tbody tr {
        border: 1px #fff solid;
    }

        .divDetail table tbody tr td {
            font-family: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
            font-weight: 300;
            font-size: 11pt;
            letter-spacing: 0.02em;
            line-height: 14pt;
            font-smooth: always;
            padding: 3px 10px;
            border-right: 1px #ddd solid;
            border-bottom: 1px #ddd solid;
            border-left: 1px transparent solid;
            border-top: 1px transparent solid;
            box-sizing: border-box;
        }*/


.divDetail-footer {
    border-top: 1px solid white;
}

/* time card page */
.employee-li {
    border-bottom: 1px dotted;
}

    .employee-li.selected {
        background-color: transparent;
    }


.costCentreDropdown, .departmentDropdown, .supervisorDropdown, .positionDropdown {
    min-width: 100px;
}


select {
      -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
 
} 



        .sidebar-toggler {
-webkit-border-radius: 0px 4px 4px 0px;
-moz-border-radius: 0px 4px 4px 0px;
border-radius: 0px 4px 4px 0px;
cursor: pointer;
display: block;
float: left;
margin-top: 15px;
margin-bottom: 15px;
width: 23px;
height: 23px;
background-color: #FcFcFc;
padding-bottom: 5px;
background: black;
color: white;
        }

            .sidebar-toggler:before {
                margin: 0px 2px 3px 8px;
                display: inline-block;
                font-size: 18px;
                font-family: FontAwesome;
                height: auto;
                content: "\f104";
                font-weight: 300;
                text-shadow: none;
            }

        .page-sidebar-closed .sidebar-toggler:before {
            content: "\f105";
            margin: 0px 2px 3px 10px;
        }

        .hidden {
            display: none;
        }