<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <connectionStrings>
    <!--<add name="EPWPConnection" connectionString="server=localhost;database=EPWP;uid=myUser;password=myPass;" /> -->
    <!--<add name="EPWPConnection" connectionString="server=localhost;database=EPWP;Trusted_Connection=Yes;"/>-->
    <add name="MobiTimeCon" connectionString="server=.\PowerUpLocal;database=MobiTime;Trusted_Connection=Yes;"/>

    <!--<add name="MobiTimeCon" connectionString="server=41.76.209.156\mars;database=mobitime_mobitime;uid=mobitime_T1meM0b1;password=E586E032!74F6#;"/>-->
  </connectionStrings>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Index.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>